<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0D8F9E6C-80C2-42C3-A77F-F2E4933B65D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>366E5FCC-F13E-493B-9DBE-7DB0BC8B7B67</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1068B67E-2589-40DB-80E0-81D366F49C28</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>635A95A2-A05D-4580-8329-3AC09B89E454</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6041E4DC-7678-4FBD-820C-F1F210B521CB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4297DC1E-72FF-4574-A7C0-C7E89C5AE46D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB6B5262-B929-4505-835D-5212A6A849C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB217E00-F281-459B-9FED-D3A828B61875</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF7E279D-3CE1-4804-B99E-704BC94A1826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45C0EDB1-805D-411E-86D1-4804E5B5F4DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F92A3AB8-A9FA-4346-8572-1D121EE59651</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98DC2839-E693-4194-B0D4-9A3AD2442648</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pina</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Github Repos</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/workivate/wa-hermes</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>45C0EDB1-805D-411E-86D1-4804E5B5F4DA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>hermes</string>
				<key>subtext</key>
				<string>Open hermes github in chrome</string>
				<key>text</key>
				<string>Open hermes github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF7E279D-3CE1-4804-B99E-704BC94A1826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zeus</string>
				<key>subtext</key>
				<string>Open zeus github in chrome</string>
				<key>text</key>
				<string>Open zeus github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6041E4DC-7678-4FBD-820C-F1F210B521CB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/workivate/wa-zeus</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>4297DC1E-72FF-4574-A7C0-C7E89C5AE46D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>storybook</string>
				<key>subtext</key>
				<string>Open storybook github in chrome</string>
				<key>text</key>
				<string>Open storybook github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1068B67E-2589-40DB-80E0-81D366F49C28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/workivate/wa-storybook</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>635A95A2-A05D-4580-8329-3AC09B89E454</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/workivate/lw-unified-identity-app</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>98DC2839-E693-4194-B0D4-9A3AD2442648</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>unified</string>
				<key>subtext</key>
				<string>Open usl github in chrome</string>
				<key>text</key>
				<string>Open usl github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F92A3AB8-A9FA-4346-8572-1D121EE59651</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/workivate/lw-aura</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>366E5FCC-F13E-493B-9DBE-7DB0BC8B7B67</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>aura</string>
				<key>subtext</key>
				<string>Open aura github in chrome</string>
				<key>text</key>
				<string>Open aura github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0D8F9E6C-80C2-42C3-A77F-F2E4933B65D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://github.com/workivate</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>AB217E00-F281-459B-9FED-D3A828B61875</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>subtext</key>
				<string>Open github in chrome</string>
				<key>text</key>
				<string>Open github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BB6B5262-B929-4505-835D-5212A6A849C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0D8F9E6C-80C2-42C3-A77F-F2E4933B65D3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>1068B67E-2589-40DB-80E0-81D366F49C28</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>366E5FCC-F13E-493B-9DBE-7DB0BC8B7B67</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>4297DC1E-72FF-4574-A7C0-C7E89C5AE46D</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>45C0EDB1-805D-411E-86D1-4804E5B5F4DA</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>6041E4DC-7678-4FBD-820C-F1F210B521CB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>635A95A2-A05D-4580-8329-3AC09B89E454</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>98DC2839-E693-4194-B0D4-9A3AD2442648</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>AB217E00-F281-459B-9FED-D3A828B61875</key>
		<dict>
			<key>xpos</key>
			<real>325</real>
			<key>ypos</key>
			<real>745</real>
		</dict>
		<key>BB6B5262-B929-4505-835D-5212A6A849C4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>EF7E279D-3CE1-4804-B99E-704BC94A1826</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>F92A3AB8-A9FA-4346-8572-1D121EE59651</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
