<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>11AC0C1B-E75D-47B9-B8E1-3438020FD516</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9D6DE7EF-C3F2-491D-A524-A741102F0704</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6CA2F1B8-5555-4597-A383-71C6E7FD9ECF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDAE4F6D-F05B-4F05-A8CF-0E829EDCA64A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7635D212-DDC1-4A17-842C-A2D531F2F719</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67CE1CEE-80D1-4296-9E34-5F5C7FF81E90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>88C514B4-81C9-43F5-BD90-72BD93659C8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7635D212-DDC1-4A17-842C-A2D531F2F719</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9D6DE7EF-C3F2-491D-A524-A741102F0704</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67CE1CEE-80D1-4296-9E34-5F5C7FF81E90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDAE4F6D-F05B-4F05-A8CF-0E829EDCA64A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67CE1CEE-80D1-4296-9E34-5F5C7FF81E90</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Pastes stored snippets</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Paste Snippets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>lifeworkstesting+admin402b26186ba4@workivate.com</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9D6DE7EF-C3F2-491D-A524-A741102F0704</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>122</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>11AC0C1B-E75D-47B9-B8E1-3438020FD516</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>120</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>88C514B4-81C9-43F5-BD90-72BD93659C8C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>l1F3ng3l!.!.!</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7635D212-DDC1-4A17-842C-A2D531F2F719</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
 tell application "System Events"
    keystroke "v" using {command down}
 end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>67CE1CEE-80D1-4296-9E34-5F5C7FF81E90</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>99</integer>
				<key>hotmod</key>
				<integer>9437184</integer>
				<key>hotstring</key>
				<string>F3</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6CA2F1B8-5555-4597-A383-71C6E7FD9ECF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>window.addEventListener("beforeunload", function() { debugger; }, false)</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>BDAE4F6D-F05B-4F05-A8CF-0E829EDCA64A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>Can you provide a code review (error checking, improvement suggestions) </string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6C71735C-B070-4D6A-9740-5E4660C1EABA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>Testtest456!</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F3539C47-566D-4D65-807D-0674BA20D684</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>11AC0C1B-E75D-47B9-B8E1-3438020FD516</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>67CE1CEE-80D1-4296-9E34-5F5C7FF81E90</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>6C71735C-B070-4D6A-9740-5E4660C1EABA</key>
		<dict>
			<key>note</key>
			<string>Can you provide a code review (error checking, improvement suggestions)</string>
			<key>xpos</key>
			<real>470</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
		<key>6CA2F1B8-5555-4597-A383-71C6E7FD9ECF</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>7635D212-DDC1-4A17-842C-A2D531F2F719</key>
		<dict>
			<key>note</key>
			<string>l1F3ng3l!.!.!</string>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>88C514B4-81C9-43F5-BD90-72BD93659C8C</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>9D6DE7EF-C3F2-491D-A524-A741102F0704</key>
		<dict>
			<key>note</key>
			<string>lifeworkstesting+admin402b26186ba4@workivate.com</string>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>BDAE4F6D-F05B-4F05-A8CF-0E829EDCA64A</key>
		<dict>
			<key>note</key>
			<string>window.addEventListener("beforeunload", function() { debugger; }, false)</string>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>F3539C47-566D-4D65-807D-0674BA20D684</key>
		<dict>
			<key>note</key>
			<string>Testtest456!</string>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>795</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
