<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>058CE56C-7A85-45B4-8931-541FD152A3B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3469403-5832-4510-95EF-8337DD57654B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>171C3F25-7F69-4D5F-95B6-A9E0420C2A84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17CB3DFB-9355-44E4-BF75-718B5FBB939A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>17CB3DFB-9355-44E4-BF75-718B5FBB939A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36098519-4A83-4E23-9CFA-CDC2285C9D40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>19760317-7953-4D58-B324-235DE378D5CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CE368C8E-2ADF-4546-AC61-92B185766130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36098519-4A83-4E23-9CFA-CDC2285C9D40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5A1A0E79-F2BB-4DCC-87C4-8304D1E22915</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B5C26FB-CD9B-4B62-A3C3-26CDEA35EB11</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D4D0579-8FD0-4DF5-8012-31784C0C7A0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5D4D0579-8FD0-4DF5-8012-31784C0C7A0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>058CE56C-7A85-45B4-8931-541FD152A3B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CE368C8E-2ADF-4546-AC61-92B185766130</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1288360F-E808-4E63-91BA-7C20EF2FB666</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF7E279D-3CE1-4804-B99E-704BC94A1826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>17CB3DFB-9355-44E4-BF75-718B5FBB939A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3469403-5832-4510-95EF-8337DD57654B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A280112C-49F5-474E-9364-16781278E755</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pina</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Jira Tickets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>jb</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Browse Jira '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CE368C8E-2ADF-4546-AC61-92B185766130</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://workivate.atlassian.net/browse/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1288360F-E808-4E63-91BA-7C20EF2FB666</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>19760317-7953-4D58-B324-235DE378D5CD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>j</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open jira ticket '{query}'</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF7E279D-3CE1-4804-B99E-704BC94A1826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>171C3F25-7F69-4D5F-95B6-A9E0420C2A84</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=${1}

PRJ_REGEX="($PRJ_REGEX-).[0-9]*"

if  ! [[ $query =~ $PRJ_REGEX ]];then
	query="${PRJ_CODE}-${query}"
fi

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>36098519-4A83-4E23-9CFA-CDC2285C9D40</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://workivate.atlassian.net/browse/{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5A1A0E79-F2BB-4DCC-87C4-8304D1E22915</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>17CB3DFB-9355-44E4-BF75-718B5FBB939A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>38</integer>
				<key>hotmod</key>
				<integer>262144</integer>
				<key>hotstring</key>
				<string>J</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5B5C26FB-CD9B-4B62-A3C3-26CDEA35EB11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
 tell application "System Events"
    keystroke "v" using {command down}
 end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>A280112C-49F5-474E-9364-16781278E755</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>F3469403-5832-4510-95EF-8337DD57654B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#Takes a ticket number and forms a valid url link

query=${1}

TICKET_REGEX="([A-Z]-).[0-9]*"


if ! [[ $query =~ $TICKET_REGEX ]];then
	query="${PRJ_CODE}-${query}"
fi

query="https://workivate.atlassian.net/browse/${query}"

echo -n $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>058CE56C-7A85-45B4-8931-541FD152A3B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>5D4D0579-8FD0-4DF5-8012-31784C0C7A0F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>058CE56C-7A85-45B4-8931-541FD152A3B5</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>1288360F-E808-4E63-91BA-7C20EF2FB666</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>171C3F25-7F69-4D5F-95B6-A9E0420C2A84</key>
		<dict>
			<key>note</key>
			<string>Open selected text (ticket number with or without prefix) in chrome</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>17CB3DFB-9355-44E4-BF75-718B5FBB939A</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>465</real>
		</dict>
		<key>19760317-7953-4D58-B324-235DE378D5CD</key>
		<dict>
			<key>note</key>
			<string>Browse ticket if ticket nr passed otherwise take to /browse page</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>36098519-4A83-4E23-9CFA-CDC2285C9D40</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>5A1A0E79-F2BB-4DCC-87C4-8304D1E22915</key>
		<dict>
			<key>xpos</key>
			<real>865</real>
			<key>ypos</key>
			<real>435</real>
		</dict>
		<key>5B5C26FB-CD9B-4B62-A3C3-26CDEA35EB11</key>
		<dict>
			<key>note</key>
			<string>Create Jira ticket from selected text (ticket number with or without prefix) and paste to clipboard</string>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>5D4D0579-8FD0-4DF5-8012-31784C0C7A0F</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>A280112C-49F5-474E-9364-16781278E755</key>
		<dict>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>CE368C8E-2ADF-4546-AC61-92B185766130</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>EF7E279D-3CE1-4804-B99E-704BC94A1826</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>295</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>F3469403-5832-4510-95EF-8337DD57654B</key>
		<dict>
			<key>xpos</key>
			<real>870</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variables</key>
	<dict>
		<key>PRJ_CODE</key>
		<string>UI</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
