<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>48C3AFEB-00F3-4738-9E3E-93D05DDDCD9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E5291FC-C52B-4270-802C-8930FF760470</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7286C38B-CC7D-438E-B3ED-CC55F32E79BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E5291FC-C52B-4270-802C-8930FF760470</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8272AE86-D135-4DDE-B739-1D88D0E1E397</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98726CD2-71E6-4FAB-89B7-BDE0AB011887</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C3FB19BE-ABCB-49CA-ABBA-65EB2B529646</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>98726CD2-71E6-4FAB-89B7-BDE0AB011887</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C4731D5F-6431-48C1-B061-4A648D1108C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6899D043-33DB-41D3-8E7E-BE0C86916588</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D2C49C86-5B5B-43F7-96F9-D7B703E31DE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E287895-00C8-4EAE-8E73-710DF0B8E323</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D7DFCCFC-D8DF-404F-8258-3A51D8043F9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E287895-00C8-4EAE-8E73-710DF0B8E323</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF7E279D-3CE1-4804-B99E-704BC94A1826</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A3A83C3B-B3F3-4AD3-A8EC-C3CA28EF9D22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pina</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Apps</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>slack</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open slack</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF7E279D-3CE1-4804-B99E-704BC94A1826</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Slack.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A3A83C3B-B3F3-4AD3-A8EC-C3CA28EF9D22</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vscode</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open vscode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8272AE86-D135-4DDE-B739-1D88D0E1E397</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>98726CD2-71E6-4FAB-89B7-BDE0AB011887</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>9</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>V</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C3FB19BE-ABCB-49CA-ABBA-65EB2B529646</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>notion</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open vscode</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>48C3AFEB-00F3-4738-9E3E-93D05DDDCD9F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Notion.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>8E5291FC-C52B-4270-802C-8930FF760470</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>45</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>N</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7286C38B-CC7D-438E-B3ED-CC55F32E79BD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>chrome</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open chrome</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D7DFCCFC-D8DF-404F-8258-3A51D8043F9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Google Chrome.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>4E287895-00C8-4EAE-8E73-710DF0B8E323</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>8</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>C</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D2C49C86-5B5B-43F7-96F9-D7B703E31DE8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>17</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>T</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>C4731D5F-6431-48C1-B061-4A648D1108C7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/iTerm.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>6899D043-33DB-41D3-8E7E-BE0C86916588</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>48C3AFEB-00F3-4738-9E3E-93D05DDDCD9F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>4E287895-00C8-4EAE-8E73-710DF0B8E323</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>6899D043-33DB-41D3-8E7E-BE0C86916588</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>1065</real>
		</dict>
		<key>7286C38B-CC7D-438E-B3ED-CC55F32E79BD</key>
		<dict>
			<key>xpos</key>
			<real>80</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>8272AE86-D135-4DDE-B739-1D88D0E1E397</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>8E5291FC-C52B-4270-802C-8930FF760470</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>98726CD2-71E6-4FAB-89B7-BDE0AB011887</key>
		<dict>
			<key>xpos</key>
			<real>730</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>A3A83C3B-B3F3-4AD3-A8EC-C3CA28EF9D22</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>C3FB19BE-ABCB-49CA-ABBA-65EB2B529646</key>
		<dict>
			<key>xpos</key>
			<real>515</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>C4731D5F-6431-48C1-B061-4A648D1108C7</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>1065</real>
		</dict>
		<key>D2C49C86-5B5B-43F7-96F9-D7B703E31DE8</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>865</real>
		</dict>
		<key>D7DFCCFC-D8DF-404F-8258-3A51D8043F9E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>EF7E279D-3CE1-4804-B99E-704BC94A1826</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
