<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3A474BE1-267C-4D2E-8BBB-BB56A9FE4B8D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>578B0479-C96A-4316-83FB-D1829CD4F376</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F46FBD2-7972-43BA-9048-0EAF656E2583</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73FBCC43-F1D4-410C-87A0-6A210C664C3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A080A313-F878-47AD-A09D-48F3689B5DBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E0E4308-AA26-4552-912F-1493EB10A481</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A26EC73F-EF10-4D52-B189-6FADE90F7F2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C976F847-B7F2-4783-A717-9ADB578FA5BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pina</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open Sites Shortcuts</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://devhints.io/vim</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C976F847-B7F2-4783-A717-9ADB578FA5BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>vim</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Vim cheats</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A26EC73F-EF10-4D52-B189-6FADE90F7F2C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://regexr.com/</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>73FBCC43-F1D4-410C-87A0-6A210C664C3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>regex</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Regexr</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3F46FBD2-7972-43BA-9048-0EAF656E2583</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zsh</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Zsh cheat sheet</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3A474BE1-267C-4D2E-8BBB-BB56A9FE4B8D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://kapeli.com/cheat_sheets/Oh-My-Zsh_Git.docset/Contents/Resources/Documents/index</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>578B0479-C96A-4316-83FB-D1829CD4F376</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>board</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>USL jira board</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A080A313-F878-47AD-A09D-48F3689B5DBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://workivate.atlassian.net/jira/software/c/projects/UI/boards/361</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8E0E4308-AA26-4552-912F-1493EB10A481</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3A474BE1-267C-4D2E-8BBB-BB56A9FE4B8D</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>3F46FBD2-7972-43BA-9048-0EAF656E2583</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>578B0479-C96A-4316-83FB-D1829CD4F376</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>73FBCC43-F1D4-410C-87A0-6A210C664C3A</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>395</real>
		</dict>
		<key>8E0E4308-AA26-4552-912F-1493EB10A481</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>A080A313-F878-47AD-A09D-48F3689B5DBD</key>
		<dict>
			<key>xpos</key>
			<real>65</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>A26EC73F-EF10-4D52-B189-6FADE90F7F2C</key>
		<dict>
			<key>xpos</key>
			<real>75</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>C976F847-B7F2-4783-A717-9ADB578FA5BA</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
